body{
    background-color: antiquewhite;
   margin: 0;
   padding: 0;
}
h1{
    color: black;
}
nav{
    display: inline-block;
    background-color: aquamarine; 
    width: 198px;
    

}
div{
    width: 800px;
    border: 15 px solid rgb(0, 0, 0);
    background-color: rgb(246, 233, 233);
    text-align: center;
    width: 100%;
    height: 1980px;
    
}
a{
    display: block;
    text-decoration: none;
}
.barra-topo nav{
    display: flex;
    gap: 15px; 
    text-align: center;
    background-color: blue;
    
}
.barra-topo{

    display: flex; 
    justify-content: center; 
    align-items: center; 
    top: 0; 
    left: 0; 
    width: 100%;
    position: sticky;
    height: 50px; 
    background-color: black;
  
   
}
