p{

        font-family: "Jacquarda Bastarda 9", serif;
        font-weight: 400;
        font-style: normal;

}
.uppercase{
    text-transform: uppercase ;
}
.lowcase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}
.indent{
    text-indent:20px;
}
.shadow{
    text-shadow:1px 1px #FF0000;
}
.shadow-blur{
    text-shadow: 1px 1px 3px #00ff00;
}
.overline{
    text-decoration: overline ;
}
.line-throught{
    text-decoration: line-through;
}
.underline{
    text-decoration: underline;
}
.overline-underline{
    text-decoration: overline underline ;
}
