body{
    margin: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #04AA6D;
}

.link-usuario{
    float: right;
}



/* ------- Estilo para Formulários --------- */

.container {
    margin: 20px auto 0 auto;
    width: 600px;
}
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 30px 30px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form{
    width: 100%;
}
label {
    display: block;
    margin-top: 10px;
}
input, textarea {
    width: 100%;
    padding: 8px 0px 8px 0px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=submit] {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
input:hover[type=submit] {
    background-color: #218838;
}

/* Mensagens de erro */
.erro-input {
    color: red;
    font-size: 15px;
}
/*estilo para a foto de usuário*/
.photo-user{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.div-photo p{
    color: #666;
    text-align: center;
    font-size: x-small;
}
.div-photo{
    padding-right: 30px;
    font-size: x-small;
}
.button-edit{
    margin-top: 15px;
    width: 200px;
    padding: 10px;
    border: 2px solid black;
    background-color: #666;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    
}
.button-edit:hover{
    background-color: #5d5d5d;
}
.div-button-edit{
    text-align: center;
}body{
    margin: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #04AA6D;
}

.link-usuario{
    float: right;
}



/* ------- Estilo para Formulários --------- */

.container {
    margin: 20px auto 0 auto;
    width: 600px;
}
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 30px 30px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form{
    width: 100%;
}
label {
    display: block;
    margin-top: 10px;
}
input, textarea {
    width: 100%;
    padding: 8px 0px 8px 0px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=submit] {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
input:hover[type=submit] {
    background-color: #218838;
}

/* Mensagens de erro */
.erro-input {
    color: red;
    font-size: 15px;
}
/*estilo para a foto de usuário*/
.photo-user{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.div-photo p{
    color: #666;
    text-align: center;
    font-size: x-small;
}
.div-photo{
    padding-right: 30px;
    font-size: x-small;
}
.button-edit{
    margin-top: 15px;
    width: 200px;
    padding: 10px;
    border: 2px solid black;
    background-color: #666;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    
}
.button-edit:hover{
    background-color: #5d5d5d;
}
.div-button-edit{
    text-align: center;
}body{
    margin: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #5fd067; /* Cor do link */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    background-color: #c5c4c4; /* Cor de hover */
}

li a.active {
    color: white;
    background-color: #069c2c; /* Cor do link ativo */
}

.link-usuario{
    float: right;
}

